.container
   .hero
      .section6-hero 
            .section6-img 
               .img-wrapper 
               
               .img-bg1
               .img-bg2
            .section6-hero-title 
               h2 24/7 Customer Support
               .section6-hero-subtitle 
                  p We are here to support you with any question or concerns. Our professional support team will be able to assist you with your new Hishabee Business Manager Mobile Application. We are always available over online chat support, phone call or in-person consultation.
               .button 
                  .buton-item
                     a(href='#') 
                        span Learn more 
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                     
                     

