.container 
   .hero
      .section3-title 
         .title-item
            h3 Why Hishabee Business Manager?
            .underbar
         .subtitle
            p Hishabee Business Manager is extremely easy to use Business Solution on your mobile with loads of  cool features.
      .section3-hero 
         .section3-hero-title 
            h2 Bangla and English Language
            .section3-hero-subtitle 
            p Hishabee Business Manager has been developed keeping the people of Bangladesh in mind. That is why we built the entire application in Bangla and English.
            .button 
               .buton-item
                  a(href='#') 
                     span Learn more <i class="fa fa-chevron-right" aria-hidden="true"></i>
   
         .section3-img 
            .img-wrapper 
               
            .img-bg1
            .img-bg2
         