.container
      .hero-bg 
         .hero-wrapper
            .hero-about 
               .hero-uptitle 
                  span All-in-one Business Manager 🔥 
               .hero-title 
                  span Easily keep track of all your sales, income and inventory
               .hero-subtitle 
                  span Take your business to the next level with Hishabee Business Manager Mobile App.   
               .buttons 
                  .google-btn
                     a(href='#') 
                        img(src="../../images/googlepay.png", alt="Google Play")
                  .apple-btn
                     a(href='#')
                        img(src="../../images/apple_store.png", alt="Apple Store")

               .hero-img
               
         .container-bg