.container
   .hero
      .section4-hero 
            .section4-img 
               .img-wrapper 
                  
               .img-bg1
               .img-bg2
            .section4-hero-title 
               h2 Access to Real-Time Reports
               .section3-hero-subtitle 
                  p We value you as a seller and thus Hishabee gives you instant Sales Reports. Inventory Reports and Expenses Report from a click of a button. You can see everything that happens in your store from the comfort of your home.
               .button 
                  .buton-item
                     a(href='#') 
                        span Learn more <i class="fa fa-chevron-right" aria-hidden="true"></i>
                     
                     

