.container 
   .container-box
      .container-title 
         h2 Flexible pricing plan for your startup
         .underbar
      .container-subtitle 
         p  Pricing that scales with your business immediately.  
   .container-card-box
      .container-card 
         .container-price 
            h4 Free
            span Free for Lifetime
            .price
               span(class='dolar') $
               span(class='amount') 0
         .container-list 
            p <i class="fa fa-check-circle" aria-hidden="true"></i>Sales Tracking
            p <i class="fa fa-check-circle" aria-hidden="true"></i>Income Tracking
            p <i class="fa fa-check-circle" aria-hidden="true"></i>Due Tracking
            p <i class="fa fa-check-circle" aria-hidden="true"></i>Expense Tracking
            p <i class="fa fa-check-circle" aria-hidden="true"></i>Dashboard Reporting
            p <i class="fa fa-check-circle" aria-hidden="true"></i>Hishabee Marketing
            p <i class="fa fa-check-circle" aria-hidden="true"></i>Customer Management
            p <i class="fa fa-check-circle" aria-hidden="true"></i>Multi-Language Support
            .btn-get-started 
               a(href="#")  Get Started 
      .container-card 
         .container-price 
            h4 Standard
            span Free for Lifetime
            .price
               span(class='dolar') $
               span(class='amount') 60
         .container-list 
            p <i class="fa fa-check-circle" aria-hidden="true"></i>Everything in Free
            p <i class="fa fa-check-circle" aria-hidden="true"></i>POS System
            p <i class="fa fa-check-circle" aria-hidden="true"></i>Digital Receipts
            p <i class="fa fa-check-circle" aria-hidden="true"></i>Bluetooth Printer Integration
            p <i class="fa fa-check-circle" aria-hidden="true"></i>Barcode Scanner
            p <i class="fa fa-check-circle" aria-hidden="true"></i>Stock Counting
            p <i class="fa fa-check-circle" aria-hidden="true"></i>Full Account Book Management
            p <i class="fa fa-check-circle" aria-hidden="true"></i>Digital Payment Collection
            p <i class="fa fa-check-circle" aria-hidden="true"></i>More exclusive features incoming
            .btn-get-started 
               a(href="#")  Get Started  
      .container-card 
         .container-price 
            h4 Advance
            span Free for Lifetime
            .price
               span(class='dolar') $
               span(class='amount') 98
         .container-list 
            p <i class="fa fa-check-circle" aria-hidden="true"></i>Eveything in Standard
            p <i class="fa fa-check-circle" aria-hidden="true"></i>Personal E-Commerce Store
            p <i class="fa fa-check-circle" aria-hidden="true"></i>Due Alert
            p <i class="fa fa-check-circle" aria-hidden="true"></i>Employee Management
            p <i class="fa fa-check-circle" aria-hidden="true"></i>Customer and Vendor Chat
            p <i class="fa fa-check-circle" aria-hidden="true"></i>Qr Code Payments
            p <i class="fa fa-check-circle" aria-hidden="true"></i>EMI Facility
            p <i class="fa fa-check-circle" aria-hidden="true"></i>More exclusive features incoming
            .btn-get-started 
               a(href="#")  Get Started             
   
