.container 
   .hero
      .section2-title 
         .section2-title-item
            h3 What is Hishabee Business Manager?
            p Hishabee Business Manager is the most reliable and easy to use Business Solution on your mobile. Running a business hasn’t been easier. All-in-one Solution, made in Bangladesh, for Bangladesh.
      .parent
         .div1 
            .cards
               .div-icon 
                  <i class="fa fa-suitcase" aria-hidden="true"></i>
               .card-title 
                     span Sales Manager
               .card-subtitle 
                  span Keep track of all your sales, income and invetory with Sales Manager.     
         .div2 
            .cards
               .div-icon 
                  <i class="fa fa-suitcase" aria-hidden="true"></i>
               .card-title 
                     span Sales Manager
               .card-subtitle 
                  span Keep track of all your sales, income and invetory with Sales Manager.     
            
         .div3 
            .cards
               .div-icon 
                  <i class="fa fa-suitcase" aria-hidden="true"></i>
               .card-title 
                     span Sales Manager
               .card-subtitle 
                  span Keep track of all your sales, income and invetory with Sales Manager.     

         .div4 
            .cards
               .div-icon 
                  <i class="fa fa-suitcase" aria-hidden="true"></i>
               .card-title 
                     span Sales Manager
               .card-subtitle 
                  span Keep track of all your sales, income and invetory with Sales Manager.     

         .div5 
            +image('main_phone')
         .div6
            .button 
               a(href='#') See More
               