.container 
   .hero
      .section5-hero 
         .section5-hero-title 
            h2 Tally Package (Free)
            .section5-hero-subtitle 
            p Keep track of all your day to day business transaction on your phone
            ul
               li Faster data input
               li automated reports of sales and expenses
               li Due list management
               li Top up and earn more
            .button 
               .buton-item
                  a(href='#') 
                     span Learn more <i class="fa fa-chevron-right" aria-hidden="true"></i>
   
         .section5-img 
            .img-wrapper 
               
            .img-bg1
            .img-bg2
         