.container 
   .hero
      .footer-box 
         .logo-box 
            img(src="../../images/logo.png", alt="Logo")
            p Hishabee Technologies Limited
            span  Contact: +8809638011199
         .links-box 
            p Useful Links
            .links-list 
               ul    
                  li Useful Links
                  li Terms of Use
                  li Tutorials
                  li Feedback & Sugesstion
                  li Contact Us
                  li Blog
                  li Newsletter
                  li Help Centre
         .newsletter-box
            p Newsletter
            .input-box 
               input(type="email")
               .button-contact 
                 a(href="#")  Subscribe
