@import '../global';
.footer-box {
   display: flex;
   gap: 3em;
   align-items: flex-start;
   .logo-box {
      display: flex;
      flex-direction: column;
      p {
         font-weight: 600;
         font-size: 18px;
         line-height: 28px;
      }
      span {
         font-weight: 400;
         font-size: 18px;
         line-height: 28px;
      }
   }
   .links-box {
      display: flex;
      flex-direction: column;
      p {
         font-weight: 700;
         font-size: 18px;
         line-height: 28px;
         color: #2A3342;
      }
      .links-list {
         ul {
            width: 300px;
            height: 200px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 1em;
            list-style: none;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #556987;
            padding: 0;
         }
      }
   }
   .newsletter-box {
      width: 500px;
      p {
         font-style: normal;
         font-weight: 700;
         font-size: 18px;
         line-height: 28px;
         color: #2A3342;
      }
      .input-box {
         display: flex;
         gap: 1em;
         input {
            width: 226px;
            background: #FFFFFF;
            border: 1px solid #D5DAE1;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
            border-radius: 8px;
         }
         .button-contact {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 112px;
            height: 46px;
            background: #1B1C1F;
            box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
            border-radius: 6px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
             &:hover {
               color: $secondaryColor;
            }
            a {
               color: white;
               &:hover {
                  color: $secondaryColor;
               }
            }
          }
      }
   }
}
